/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: flex; /* Changed from grid to flex */
  flex-direction: column; /* Stack items vertically */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: #070d1f; /* Dark color */
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: #ffffff; /* White color */
}

.header__toggle {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

/*===== NAV =====*/
/* Mobile Layout */
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #070d1f; /* Dark color */
    color: #ffffff; /* White color */
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: 100;
    transition: left 0.5s ease;
  }
}

.nav__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: #282b3a; /* Alt Dark color */
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #a9a9a9; /* First color */
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: none;
  color: #ffffff;
}

.nav__profesion {
  font-size: 0.813rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.nav__link:hover {
  background-color: #a9a9a9; /* First color */
}

/*menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: #a9a9a9; /* First color */
}

/*===== DESKTOP LAYOUT =====*/
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(3rem + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__name {
    display: block;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: #a9a9a9; /* First color */
  }
  .active {
    background-color: #a9a9a9; /* First color */
    color: #ffffff;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
